#aboutus{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#title{
    margin: 40px;
    margin-left: 0%;
}
#title h1{
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title p{
    line-height: 20 px;
    font-size: 17px;
    color: rgb(188, 185, 185);
}

#message{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ddd;
    padding-bottom: 30px;
}

#content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding:40px;
}

#message h2{
    padding: 40px;
    padding-bottom: 20px;
}

#facilities h2{
    margin: 40px;
    margin-bottom: 0%;
    text-align: center;
    padding: 40px;
    padding-bottom: 30px;
}

#row{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#column1{
    background-color: #ddd;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-right:1px solid rgb(87, 85, 85);
    border-bottom:1px solid rgb(87, 85, 85);
}

#column2{
    background-color: #ddd;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-left:1px solid rgb(87, 85, 85);
    border-bottom:1px solid rgb(87, 85, 85);
}

span h4{
    padding-top: 40px;
    padding-bottom: 40px;
}

span p{
    padding-top: 35px;
    padding-bottom: 35px; 
    margin-left: 20px;
    text-align: left;
}