body{
    counter-reset: Serial;
}

#products{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#title{
    margin: 40px;
    margin-left: 0%;
}
#title h1{
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title p{
    line-height: 20 px;
    font-size: 17px;
    color: rgb(188, 185, 185);
}

#products-table{
    width: 90%;
    margin: auto;
}

#products-table th{
    text-align: left;
    vertical-align: middle;
    padding-left: 40px;
}

#products-table td:first-child::before{
    counter-increment: Serial;
    content: counter(Serial);
    width: 5%;
}

#products-table td{
    padding-left: 40px;
    vertical-align: middle;
}