{% extends 'base.html' %}
{% load static %}
{% block aboutus %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <div id="aboutus">
        <div id="title">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia aspernatur qui tempore aut similique rerum, numquam molestias quo perferendis suscipit omnis, atque, esse laborum recusandae cumque! Animi, quibusdam quae.</p>
        </div>
        <div id="message">
            <div id="content">
                <h2>Introduction</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolor soluta, velit cupiditate aperiam ab voluptatem dignissimos aut itaque mollitia, harum autem corporis ea officia facilis sit, amet tempore repellat?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque magnam animi sequi fuga vel dolor laborum beatae! Perspiciatis optio nesciunt ipsum possimus reprehenderit, numquam unde eveniet quas excepturi accusamus!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit reprehenderit culpa soluta quod fugiat cumque, at eius asperiores consectetur illum aliquam ad sint sapiente deserunt atque suscipit in ex quos.</p>        
            </div>
        </div>
        <div id="facilities">
            <h2>Our Facilities</h2>
            <div class="row" id="row">
                <div class="column" id="column1">
                    <span>
                        <h4>Lab equipment supply</h4>
                    </span>
                </div>
                <div class="column" id="column2">
                    <span>
                        <p>We supply every lab equipment required in a school, +2, BSC, Engineering, Agriculture, Veteniary</p>
                    </span>
                </div>
            </div>
            <div class="row" id="row">
                <div class="column" id="column1">
                    <span>
                        <h4>Lab Design</h4>
                    </span>
                </div>
                <div class="column" id="column2">
                    <span>
                        <p>As per the need, we also design lab and assistance in setting up a lab.</p>
                    </span>
                </div>
            </div>
            <div class="row" id="row">
                <div class="column" id="column1">
                    <span>
                        <h4>Training</h4>
                    </span>
                </div>
                <div class="column" id="column2">
                    <span>
                        <p>To make teachers familiar with the equipments, we provide training on use and maintance of lab equipments.</p>
                    </span>
                </div>
            </div>
            <div class="row" id="row">
                <div class="column" id="column1">
                    <span>
                        <h4>Schemes and Offers</h4>
                    </span>
                </div>
                <div class="column" id="column2">
                    <span>
                        <p>To help schools establish a lab, we timely bring schemes that are budget friendly.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock aboutus %}