{% extends 'base.html' %}
{% load static %}
{% block home %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div id="homepage">
        <img src="media/suvam-cover.jpg" alt="" id="cover">

        <div>
            <table style="margin: 20px; margin-top: 35px;">
                <tr>
                    <td> 
                        <div class="img-with-text">
                            <img src="media/suvam-logo.png" alt="" id="cat-img">
                            <p>TITLE HERE</p>
                        </div>
                    </td>
                    <td>
                        <div class="img-with-text">
                            <img src="media/suvam-logo.png" alt="" id="cat-img">
                            <p>TITLE HERE</p>
                        </div>
                    </td>
                    <td>
                        <div class="img-with-text">
                            <img src="media/suvam-logo.png" alt="" id="cat-img">
                            <p>TITLE HERE</p>
                        </div>
                    </td>
                    <td>
                        <div class="img-with-text">
                            <img src="media/suvam-logo.png" alt="" id="cat-img">
                            <p>TITLE HERE</p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="img-with-text">
                            <img src="media/suvam-logo.png" alt="" id="cat-img">
                            <p>TITLE HERE</p>
                        </div>
                    </td>
                    <td>
                        <div class="img-with-text">
                            <img src="media/suvam-logo.png" alt="" id="cat-img">
                            <p>TITLE HERE</p>
                        </div>
                    </td>
                    <td>
                        <div class="img-with-text">
                            <img src="media/suvam-logo.png" alt="" id="cat-img">
                            <p>TITLE HERE</p>
                        </div>
                    </td>
                    <td>
                        <div class="img-with-text">
                            <img src="media/suvam-logo.png" alt="" id="cat-img">
                            <p>TITLE HERE</p>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

        <div id="what-we-do">
            <h1>What we do</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempora vel voluptatem exercitationem nam veritatis in hic! Exercitationem quae, omnis aperiam tempore dignissimos quidem itaque soluta, dolore quam, eius nemo?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet dignissimos, ipsam nam praesentium ut dolorum atque error porro sunt, quos fuga enim aliquam aliquid. Aliquam consequuntur delectus ratione beatae et.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatem ducimus in ad, fugit officia soluta modi suscipit, distinctio itaque, perspiciatis iste consequatur? Qui totam consectetur quia iusto doloribus aliquam!</p>
        </div>

    </div>
{% endblock home %}