{% extends 'base.html' %}
{% load static %}
{% block products %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <div id="products">
        <div id="title">
            <h1>Products</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt earum illo velit quam eligendi commodi dignissimos dolorem animi perspiciatis illum, qui veniam reprehenderit quo placeat quibusdam. Inventore unde itaque deserunt?</p>
        </div>
        <table class="table table-striped" id="products-table">
            <tr>
                <th style="width: 5%; background-color: rgb(205, 201, 201); color: white; padding-right: 15px; padding-left: 15px;">S.N.</th>
                <th style="width: 12%;">Thumbnail</th>
                <th style="width: 26%;">Name</th>
                <th style="width: 16%;">Code</th>
                <th style="width: 32%;">Description</th>
                <th style="width: 19%;" >Unit Price</th>
            </tr>

            {% for product in products %}
                <tr">
                    <td style="background-color: rgb(164, 190, 190);"></td>
                    <td style="background-color: rgb(127, 163, 163);"><img src="{% static 'product.image' %}" alt=""></td>
                    <td style="background-color: rgb(131, 177, 177);">{{ product.title }}</td>
                    <td style="background-color: rgb(152, 197, 197);">{{ product.code }}</td>
                    <td style="background-color: rgb(124, 183, 183);">{{ product.description }}</td>
                    <td style="background-color: rgb(124, 182, 182);">{{ product.unit_price }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}