{% extends 'base.html' %}
{% load static %}
{% block products %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <div id="products">
        <div id="title">
            <h1>Products</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt earum illo velit quam eligendi commodi dignissimos dolorem animi perspiciatis illum, qui veniam reprehenderit quo placeat quibusdam. Inventore unde itaque deserunt?</p>
        </div>
        <table class="table table-striped" id="products-table">
            <tr>
                <th>Thumbnail</th>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
                <th>Unit Price</th>
            </tr>
            <tr>
                <td style="width: 13%;"><img src="media/beaker.jpg" alt="" style="height: 70px; width:auto;"></td>
                <td style="width: 27%;">Beaker</td>
                <td style="width: 17%;">CHE115</td>
                <td style="width: 33%;">Borosil 500ml</td>
                <td style="width: 20%;">Rs.500</td>
            </tr>
        </table>
    </div>
{% endblock %}