{% extends 'base.html' %}
{% load static %}
{% block promotions %}
<link rel="stylesheet" href="{% static 'css/promotions.css' %}">
    <div id="promotions">
        <div id="title">
            <h1>Promotions</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ut fuga omnis maiores explicabo voluptate alias exercitationem illum voluptates aliquam aut earum perspiciatis autem, minima tempore, velit vitae asperiores voluptas!</p>
        </div>

        <div id="content">
            <h4 style="text-align: center; margin-bottom: 100px;">No promotions available </h4>
        </div>
    </div>
{% endblock promotions %}