{% extends 'base.html' %}
{% load static %}
{% block store %}
    <link rel="stylesheet" href="{% static 'css/store.css' %}">
    <div id="store">
        <h1 style="text-align: center;">STORE</h1>
        <div id="store-table">
            <table>
                <tr id="head">
                    <th>Image</th>
                    <th>Item</th>
                    <th>Code</th>
                    <th>Description</th>    
                    <th>Unit Price</th>
                </tr>

                <tr>
                    <td><img src="media/beaker.jpg" alt="" style="width:50px;"></td>
                    <td>Beaker</td>
                    <td>13CHEM14</td>
                    <td>This is a Beaker</td>
                    <td>Rs.500</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock store %}