{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" id="product-display">
        <div class="row">
            {% for product in products %}
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="{{ product.image.url }}" alt="" id="product-images">
                    <div class="box-element">
                        <h4><strong>{{ product.title }}</strong></h4>
                        <h6>Price: {{ product.unit_price| floatformat:2 }}</h6>
                    </div>
                </div>
            {% endfor %}
            </div>
    </div>
{% endblock content %}